/* index.css 또는 App.css */
* {
   
  }
  
  /* 다크모드 배경 설정 */
  html, body, #root {
    background-color: #282828;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }